.articles {
    padding: 150px 0 130px;
    @media (max-width:992px) {
        padding: 80px 0 80px;
    }
    @media (max-width:768px) {
        position: relative;
        padding: 64px 0 172px;
    }
    .all_btn {
        border-radius: 57px;
        border: 1.038px solid #007BFC;
        background: #007BFC;
        color: #FFF;
        text-align: center;
        font-size: 16.606px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        padding: 26px 50px;
        @media (max-width:768px) {
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          bottom: 84px;
          width: fit-content;
          padding: 16px 33px;
          font-size: 13px;
        }
    }

    &_items {
        margin-top: 105px;
        gap: 18px 0;
        @media (max-width:992px) {
            margin-top: 80px;
        }
        @media (max-width:768px) {
            flex-wrap: wrap;
            gap: 20px 0;
            margin-top: 41px;
        }
    }

    &_item {
        width: calc(33.33% - 12px);
        min-height: 339px;
        background-size: cover !important;
        &:nth-child(4),
        &:nth-child(5), 
        &:nth-child(9),
        &:nth-child(10),
        &:nth-child(14),
        &:nth-child(15){
            width: calc(50% - 12.5px);
            @media (max-width:768px) {
                width: 100%;
                min-height: auto;
            }
        }
        @media (max-width:992px) {
            // min-height: 300px;
        }
        @media (max-width:768px) {
            width: 100%;
            min-height: auto;
        }
        .articles_top {
            .articles_number {
                font-size: 30px;
                font-style: normal;
                font-weight: 500;
            }

            span {
                color: #F4F6FB;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: 109.4%;
                @media (max-width:768px) {
                    line-height: normal;
                }
            }
        }

        .articles_info {
            padding: 33px 35px;
            height: 100%;
            background: rgba(19, 27, 35, 0.60);
            color: #F4F6FB;
            @media (max-width:992px) {
               padding: 15px;
            }
            .articles_text {
                .articles_title {
                    font-weight: 600;
                    color: #F4F6FB;
                }

                .articles_description {
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    margin-top: 4px;
                }

                .articles_bottom {
                    margin-top: 15px;
                    padding-top: 15px;
                    border-top: 1px solid #F4F6FB99;
                    gap: 8px;
                    color: #F4F6FB;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                }
            }
        }
    }
    .pagination{
        width: fit-content;
        margin: 79px auto 0 ;
        gap: 9px;
        @media (max-width:556px) {
            gap: 5px;
            margin-top: 40px;
        }
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 53px;
            height: 42px;
            border-radius: 20px;
            background: #EDEFF1;
            transition: all .2s linear;
            color: #007BFC;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 23px;
            letter-spacing: 0.16px;
            @media (max-width:556px) {
                min-width: 35px;
                height: 26px;
                font-size: 14px;

            }
            &:hover{
                background: #007BFC;
                color: #FFF;
            }
            &.active{
                background: #007BFC;
                color: #FFF;
            }
        }
    }
}
.article_wrapper{
    .header.active{
        background: #313940;
    }
    .articles{
        padding-top: 228px;
        padding-bottom: 0;
        @media (max-width:556px) {
            padding-top: 170px;
        }
    }
    .forms{
        margin-top: 90px;
        @media (max-width:556px) {
            margin-top: 0;
        }
    }
}