.quations {
    background: #007BFB;

    @media (max-width:650px) {
        padding: 40px 0;
    }

    .desctop_container {
        max-width: 1440px;
        margin: 0 auto;
        padding-left: 135px;
        gap: 0 25px;

        @media (max-width:1400px) {
            padding-left: 0;
            margin-left: 15px;
            justify-content: center !important;
        }

        @media (max-width:1300px) {
            max-width: 1160px;
            margin-left: auto;
            justify-content: space-between !important;
        }

        @media (max-width:1160px) {
            max-width: 962px;
        }

        @media (max-width:992px) {
            max-width: 738px;

        }

        @media (max-width:768px) {
            max-width: 526px;
            padding-left: 0;
            padding-right: 0;
        }

        @media (max-width:650px) {
            padding-left: 15px;
            flex-direction: column;
            gap: 40px;
            padding-right: 15px;

        }

        .quations_right {
            width: 48%;
            background: #fff;
            display: block;

            @media (max-width:650px) {
                display: none;
            }

            .quation_request {
                img {
                    width: 100%;
                    object-fit: contain;
                }
            }

            .quation_info {
                padding: 59px 42px;

                @media (max-width:992px) {
                    padding: 25px;
                }

                @media (max-width:768px) {
                    padding: 15px;
                }

                .quation_info_title {
                    gap: 16px;
                    color: #131B23;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 109.4%;
                    letter-spacing: -0.195px;

                    .number {
                        font-weight: 600;
                        color: rgba(0, 123, 251, 0.60);
                    }
                }

                .quation_description_lists {
                    color: #131B23;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-top: 22px;
                    padding-left: 20px;

                    @media (max-width:768px) {
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                    }

                    li {
                        list-style: inside;

                        &:nth-child(5) {
                            margin-top: 14px;

                            @media (max-width:768px) {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }

        }

    }


    &_left {
        width: 525px;

        @media (max-width:992px) {
            width: 50%;
        }

        @media (max-width:650px) {
            width: 100%;
        }

        .section_title {
            color: #F4F6FB;
        }

        .quation_items {
            height: 356px;
            overflow-y: auto;
            margin-top: 65px;

            @media (max-width:768px) {
                margin-top: 40px;
            }

            @media (max-width:650px) {
                height: auto;
                margin-top: 40px;
            }

            &::-webkit-scrollbar {
                width: 6px;
                background: #D9D9D9;
            }

            &::-webkit-scrollbar-thumb {
                width: 100%;
                background: #00519E;
            }

            .quation_item {
                height: 86px;
                align-items: center;
                background: #007BFB;
                border-bottom: 0.89px solid #92C5FB;
                border-left: 0.89px solid #92C5FB;
                border-right: 0.89px solid #92C5FB;
                padding: 0 35px;
                color: #F4F6FB;
                cursor: pointer;

                @media (max-width:768px) {
                    padding: 0 15px;
                }

                &:nth-child(1) {
                    border-top: 0.89px solid #92C5FB;
                }

                .quation_item_left {
                    gap: 18px;

                    @media (max-width:768px) {
                        gap: 10px;
                    }

                    .quation_item_title {
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    span {
                        color: #92C5FB;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }

                &:hover {
                    border: 0.89px solid #92C5FB;
                    background: #F4F6FB;
                    color: #131B23;

                    .quation_icon {
                        background: #007BFB;

                        path,
                        line {
                            stroke: #fff;
                        }
                    }

                    span {
                        color: #131B23;
                    }
                }

                &.active {
                    border: 0.89px solid #92C5FB;
                    background: #F4F6FB;
                    color: #131B23;

                    .quation_icon {
                        background: #007BFB;

                        path,
                        line {
                            stroke: #fff;
                        }
                    }

                    span {
                        color: #131B23;
                    }
                }

                .quation_icon {
                    width: 22px;
                    height: 22px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background: #FFF;
                    flex: 0 0 auto;
                }

            }

            .request_mobile {
                display: none;
                background: #FFF;

                li {
                    list-style: inside;
                    padding-left: 20px;
                }

                img {
                    width: 100%;
                }

                .quation_info {
                    display: flex;
                    flex-direction: column;
                    padding: 30px 26px 30px 20px;
                    color: #131B23;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    gap: 20px;

                    .number {
                        color: rgba(0, 123, 251, 0.60);
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }
    }

    .quation_btns {
        display: none;

        @media (max-width:650px) {
            width: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            gap: 15px;
        }

        .quation_btn {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            cursor: pointer;
            border: 1px solid #fff;
            transition: all .2s linear;

            &:hover {
                background: #fff;

                path {
                    stroke: #131B23;
                }
            }

            &.next {
                transform: rotate(180deg);
            }
        }
    }
}