// fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// scss files
@import 'header';
@import 'hero';
@import 'partners';
@import 'works';
@import 'products';
@import 'deliver';
@import 'calculate';
@import 'reviews';
@import 'articles';
@import 'quations';
@import 'forms';
@import 'footer';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F4F6FB;
    color: #131B23;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1190px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width:1159px) {
        max-width: 992px;
    }
    @media (max-width:992px) {
        max-width: 768px;
    }
}
.wrappper{
    overflow: hidden;
}
// flex
.flex {
    display: flex;

    &.start {
        justify-content: flex-start;
    }

    &.center {
        justify-content: center;
    }

    &.between {
        justify-content: space-between;
    }

    &.end {
        justify-content: flex-end;
    }

    &.a_start {
        align-items: flex-start;
    }

    &.a_center {
        align-items: center;
    }

    &.a_end {
        align-items: flex-end;
    }

    &.column {
        flex-direction: column;
    }

    &.row {
        flex-direction: row;
    }

    &.wrap {
        flex-wrap: wrap;
    }
}

.button {
    padding: 27px 35px;
    background: #000;
    border-radius: 57px;
    border: 1.038px solid #F4F6FB;
    background: #F4F6FB;
    color: #131B23;
}

.section_title {
    color: #131B23;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.9px;
    @media (max-width:1159px) {
        font-size: 48px;
    }
    @media (max-width:1159px) {
        font-size: 36px;
    }
}
.slide_btn{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #007BFB;
    transition: all .2s linear;
    border-radius: 50%;
    cursor: pointer;
    &:last-child{
        transform: rotate(-180deg);
    }
    &:hover{
    background-color: #007BFB;
    path{
        stroke:#fff;
    }
    }
}