// fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// scss files
@import 'header';
@import 'hero';
@import 'partners';
@import 'works';
@import 'products';
@import 'deliver';
@import 'calculate';
@import 'reviews';
@import 'articles';
@import 'quations';
@import 'forms';
@import 'footer';
// pages
@import 'service';
@import 'company';
@import 'clean';
@import 'maps';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F4F6FB;
    color: #131B23;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1190px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    @media (max-width:1159px) {
        max-width: 992px;
    }

    @media (max-width:992px) {
        max-width: 768px;
    }

    @media (max-width:768px) {
        max-width: 556px;
    }
}

.wrappper {
    overflow: hidden;
}

// flex
.flex {
    display: flex;

    &.start {
        justify-content: flex-start;
    }

    &.center {
        justify-content: center;
    }

    &.between {
        justify-content: space-between;
    }

    &.end {
        justify-content: flex-end;
    }

    &.a_start {
        align-items: flex-start;
    }

    &.a_center {
        align-items: center;
    }

    &.a_end {
        align-items: flex-end;
    }

    &.column {
        flex-direction: column;
    }

    &.row {
        flex-direction: row;
    }

    &.wrap {
        flex-wrap: wrap;
    }
}

.button {
    padding: 27px 35px;
    background: #000;
    border-radius: 57px;
    border: 1.038px solid #F4F6FB;
    background: #F4F6FB;
    color: #131B23;
}

.section_title {
    color: #131B23;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.9px;

    @media (max-width:1159px) {
        font-size: 48px;
    }

    @media (max-width:992px) {
        font-size: 36px;
    }

    @media (max-width:768px) {
        font-size: 22px;
        font-weight: 600;
        line-height: 109.9%;
        letter-spacing: -0.33px;
    }
}

.slide_btn {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #007BFB;
    transition: all .2s linear;
    border-radius: 50%;
    cursor: pointer;
    @media (max-width:768px) {
        width: 48px;
        height: 48px;
    }
    &:last-child {
        transform: rotate(-180deg);
    }

    &:hover {
        background-color: #007BFB;

        path {
            stroke: #fff;
        }
    }
}

.modal {
    position: fixed;
    background: #0000007b;
    height: 100vh;
    width: 100%;
    z-index: 100000;
    top: 0;
    display: none;
    backdrop-filter: blur(10px);
   .exit_modal{
            position: absolute;
            width: 45px;
            height: 45px;
            right: -20px;
            top: -20px;
            font-size: 35px;
            background: #fff;
            display: flex;
            justify-content: center;
            border-radius: 50%;
            align-items: center;
            cursor: pointer;
            transition: all .2s linear;
            @media (max-width:556px) {
                top: 5px;
                right: 10px;
                width: fit-content;
                height: fit-content;
            }
            &:hover{
                opacity: .9;
            }
        }
    .modal_container {
        max-width: 507px;
        border-radius: 35px;
        background: #FFF;
        box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.03);
        padding: 54px 42px 41px 60px;
        position: absolute;
        inset: 0;
        height: fit-content;
        margin: auto auto;
        @media (max-width:556px) {
            padding: 34px 22px 21px 30px; 
            border-radius: 20px;
        }
        
    }

    &_form {
        .form_input {
            gap: 16px;
            margin-top: 45px;

            input {
                color: #007BFB;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                border-radius: 50px;
                border: 1px solid #D3D3D3;
                height: 60px;
                padding: 21px 26px;
                outline: none;

                &:focus {
                    border-color: #007BFB;
                }
            }
        }

        .form_btn {
            margin-top: 42px;

            button {
                width: 100%;
                border-radius: 57px;
                background: #007BFB;
                color: #FFF;
                text-align: center;
                font-size: 16.606px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
                outline: none;
                border: none;
                cursor: pointer;
                padding: 27px 40px;
                @media (max-width:556px) {
                    padding: 18px 20px;
                }
            }
        }
    }

    &_title {
        color: #131B23;
        text-align: center;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        @media (max-width:556px) {
            font-size: 18px;
        }
        span {
            font-weight: 700;
        }
    }

    .form_bottom {
        color: #878787;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        padding-left: 24px;
        gap: 8px;
        margin-top: 15px;
        cursor: pointer;
        padding-right: 25px;
    }

}
.social_links {
    margin-top: 45px;
    @media (max-width:556px) {
        margin-top: 24px;
    }
    a {
        gap: 13px;
        color: #606060;
        font-size: 18px;
        font-style: normal;
        text-decoration: underline;
        font-weight: 500;
        @media (max-width:768px) {
            font-size: 14px;
        }
        .icon{
            width: 45px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 45px;
            border: 1px solid #EEE;
            @media (max-width:768px) {
               width: 35px;
               height: 35px;
               img{
                width: 20px;
               }
            }
        }
    }
}